<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-row class="logo ion-margin-top ion-margin-bottom">
      <img src="./assets/images/logo.svg">
    </ion-row>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select placeholder="Selecionar">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Nascimento</ion-label>
      <ion-datetime value="..." min="1900" max="2020" displayFormat="DD/MM/YYYY"
        monthShortNames="jan, feb, mar, abr, mai, jun, jul, ago, set, out, nov, dez">
      </ion-datetime>
    </ion-item>
    <ion-row class="ion-justify-content-end ion-margin-top">
      <div class="btn-circular" [routerLink]="['../home']"></div>
    </ion-row>
  </div>
</ion-content>