ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
ion-content{
    --background: url('../../assets/images/bg_06_blue.jpg') no-repeat 74% 100% / cover;
}
.bg-logo{
    background: url('../../assets/images/logo_corte.png') 100% 20% / 27% auto no-repeat;
    background-attachment: fixed;
}
.timer{
    background-color: green;
    border-radius: 25px;
    display: flex;
    align-items: center;
    width: 205px;
    &-icon {
        background-color: #bbb8b8;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
    }
    &-tempo{
        font-size: 25px;
        font-weight: 300;
        text-align: right;
        flex-grow: 1;
        padding-right: 17px;
    }
}

.icon-status{
    background-color: green;
    border-radius: 25px;
    display: flex;
    align-items: center;
    min-width: 49%;
    padding-right: 10px;
    &-icon {
        background: #ffffff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        img {
            width: 30px;
        }
    }
    &-feeling{
        font-size: 25px;
        font-weight: 300;
        flex-grow: 1;
        padding: 0 8px;
    }
}