ion-button {
    --border-radius: 50%;
    width: 40px;
    height: 40px;
}

.btn {
    &-circular{
        background: url('./assets/images/btn_circular.png')90% 90% / cover;
        width: 45px;
        height: 45px;
    }
    &-play, &-refresh, &-save{
        width: 45px;
        height: 45px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon{
            color: #ffffff;
            font-size: 25px;
        }
    }
    &-area{
        width: 205px;
        margin: auto;
    }
}

.iconSize {
    font-size: 30px;
}