.card-info{
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    border-radius: 4px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
}
.d-flex{
    display: flex;
}
.w-100{
  width: 100%;
}
/* === WEEK === */
.week{
  &-finished{
    .dados{
      width: 60%;
  }
  .tempo {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #1C2856;
      margin-bottom: 20px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-tempo {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .pontos {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #1C2856;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-valor {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .icon-card {
      width: 40%;
      height: 100px;
      text-align: right;
      position: relative;
      top: -36px;
      right: -56px;
      background: url('./assets/images/trofeu.svg') 0 0/100% 100% no-repeat;
    }
  }
  &-closed{
    .dados{
      width: 55%;
  }
  .tempo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-tempo {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .pontos {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-valor {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .icon-card {
      width: 22%;
      height: auto;
      background: url('./assets/images/cadeado_close.svg') 100% 50% / 100% 100% no-repeat;
    }
  }
  &-open{
    .dados{
      width: 55%;
    }
    .tempo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
      
      &-tempo {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .pontos {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-valor {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .icon-card {
      width: 22%;
      height: auto;
      background: url('./assets/images/cadeado_open.svg') 100% 50% / 100% 100% no-repeat;
    }
  }
}

/* === DAY === */
.day{
  &-finished{
    .dados{
      width: 60%;
  }
  .tempo {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #1C2856;
      margin-bottom: 20px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-tempo {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .pontos {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #1C2856;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-valor {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .icon-card {
      width: 40%;
      height: 100px;
      text-align: right;
      position: relative;
      top: -36px;
      right: -56px;
      background: url('./assets/images/trofeu.svg') 0 0/100% 100% no-repeat;
    }
  }
  &-closed{
    .dados{
      width: 55%;
    }
  .tempo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-tempo {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .pontos {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-valor {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .icon-card {
      width: 22%;
      height: auto;
      background: url('./assets/images/cadeado_close.svg') 100% 50% / 100% 100% no-repeat;
    }
  }
  &-open{
    .dados{
      width: 55%;
    }
    .tempo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
      
      &-tempo {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .pontos {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-valor {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    
    .icon-card {
      width: 22%;
      height: auto;
      background: url('./assets/images/cadeado_open.svg') 100% 50% / 100% 100% no-repeat;
    }
  }
}

/* === REGISTRO === */
.record{
  .dados{
    width: 50%;
  }
  .tempo {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #1C2856;
      margin-bottom: 20px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-tempo {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    .pontos {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #1C2856;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    
      &-icon {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    
        img {
          width: 60%;
        }
      }
    
      &-valor {
        color: #ffffff;
        font-size: 20pt;
        padding-left: 10px;
      }
    }
    .medal{
      width: 22%;
      height: auto;
      background: url('./assets/images/medal.svg') 100% 50% / 100% 100% no-repeat;
    }
}