.header-md:after{
  background-image: none;
}
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
ion-content{
    width: 100%;
    height: 100%;
    background: #052258;
    --background: #052258;
}
.ios, .md {
  --ion-text-color: #ffffff;
}
ion-item{
  --background: transparent;
  --color: #ffffff;
  --ion-text-color: #ffffff;
  --border-color: #fff;
}
ion-progress-bar {
  --progress-background: #FF9F00;
  --buffer-background: #ffffff;
  height: 22px;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
}
.titulo{
    font-size: 38px;
    font-weight: 300;
    margin-top: 0px;
}
.select-mes {
    border: 0px;
    background-color: transparent;
    font-size: 38px;
    font-weight: 300;
  }
  .logo {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    img{
        width: 120px;
        height: auto;
    }
}
.bg-logo{
  padding-top: 40px;
}

  
  