<ion-content class="ion-padding justify-content-center align-items-center" style="height: 100%;">
  <div id="container">
    <ion-row class="logo">
      <img src="../../assets/images/logo.svg">
    </ion-row>
    <ion-item>
      <ion-label position="floating">e-mail</ion-label>
      <ion-input  type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">senha</ion-label>
      <ion-input  type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
    <ion-row class="ion-justify-content-end ion-margin-top">
      <div class="btn-circular" (click)="login()"></div>
    </ion-row>
  </div>
</ion-content>