#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 38%;
    transform: translateY(-50%);
}

ion-content ion-toolbar {
    --background: translucent;
}

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 60px;
}