<ion-header translucent="true">
  <ion-toolbar>
    <!-- <ion-title>Salvar exercício</ion-title> -->
    <ion-buttons slot="secondary">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-row>
    <h1 class="titulo">
      Como você está<br>
      se sentido?
    </h1>
  </ion-row>
  <ion-row class="icons-status ion-justify-content-between">
    <img src="../../../assets/icon/emoji.svg" class="{{Otimo}}" (click)="SelecionarSituacao(1)" >
    <img src="../../../assets/icon/emoji (1).svg" class="{{Bom}}" (click)="SelecionarSituacao(2)" >
    <img src="../../../assets/icon/sad.svg" class="{{Ruim}}" (click)="SelecionarSituacao(3)" >
    <img src="../../../assets/icon/emoji (2).svg" class="{{Pessimo}}" (click)="SelecionarSituacao(4)" >
  </ion-row>
  <ion-row>
    Anotações
  </ion-row>
  <ion-row>
    <ion-textarea type="text" rows="7" cols="35" [(ngModel)]="observacao"></ion-textarea>
  </ion-row>
  <ion-row>
    <div class="btn-save">
      <ion-icon name="save-outline" (click)="SalvarAtividade()" ></ion-icon>
    </div>
  </ion-row>
</ion-content>
