<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>week</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-row class="ion-margin-bottom">
    <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
  </ion-row>
  <ion-row>
    <ion-text>
      Realizado em Janeiro
    </ion-text>
  </ion-row>
  <ion-row>
    <select class="select-mes">
      <option>Semana 1</option>
      <option>Semena 2</option>
      <option>Semana 3</option>
      <option>Semana 4</option>
    </select>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-finished" [routerLink]="['../day']">
      <ion-row>
        <ion-text>Segunda</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/relogio.svg">
              </div>
              <div class="tempo-tempo">
                00:00
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/estrela.svg">
              </div>
              <div class="pontos-valor">
                0000
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-open">
      <ion-row>
        <ion-text>Terça</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/clock_gray.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/star_gray.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Quarta</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/clock_gray.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/star_gray.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Quinta</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/clock_gray.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/star_gray.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Sexta</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/clock_gray.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/star_gray.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Sábado</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/clock_gray.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/star_gray.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Domingo</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/clock_gray.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/star_gray.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
