<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>week</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="bg-logo ion-padding">
    <ion-row class="ion-margin-bottom">
      <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
    </ion-row>
    <ion-row>
      <ion-text>
        ----
      </ion-text>
    </ion-row>
    <!-- <ion-row class="ion-margin-bottom">
      <select class="select-mes">
        <option>Semana 1</option>
        <option>Semena 2</option>
        <option>Semana 3</option>
        <option>Semana 4</option>
      </select>
    </ion-row> -->
    <ion-row class="ion-margin-bottom">
      
    </ion-row>
    <ion-row class="ion-margin-bottom" *ngFor="let dia of data">
      <ion-col class="{{dia.Class}}" *ngIf="!dia.Concluido">
        <ion-row>
          <ion-text>{{dia.Titulo}}</ion-text>
        </ion-row>
        <ion-row class="card-info">
          <ion-row class="d-flex w-100">
            <div class="dados">
              <div class="tempo">
                <div class="tempo-icon">
                  <img src="../../assets/images/clock_gray.svg">
                </div>
              </div>
              <div class="pontos">
                <div class="pontos-icon">
                  <img src="../../assets/images/star_gray.svg">
                </div>
              </div>
            </div>
            <div class="icon-card"></div>
          </ion-row>
        </ion-row>
      </ion-col>
      <ion-col  [routerLink]="['../day']" class="{{dia.Class}}" *ngIf="dia.Concluido">
        <ion-row>
          <ion-text>{{dia.Titulo}}</ion-text>
        </ion-row>
        <ion-row class="card-info">
          <ion-row class="d-flex w-100">
            <div class="dados">
              <div class="tempo">
                <div class="tempo-icon">
                  <img src="../../assets/images/relogio.svg">
                </div>
                <div class="tempo-tempo">
                  {{dia.Tempo}}
                </div>
              </div>
              <div class="pontos">
                <div class="pontos-icon">
                  <img src="../../assets/images/estrela.svg">
                </div>
                <div class="pontos-valor">
                  {{dia.Pontuacao}}
                </div>
              </div>
            </div>
            <div class="icon-card"></div>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
