<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>week</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-finished" [routerLink]="['../week']">
      <ion-row>
        <ion-text>Segunda</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/relogio.svg">
              </div>
              <div class="tempo-tempo">
                00:00
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/estrela.svg">
              </div>
              <div class="pontos-valor">
                0000
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Terça</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/relogio.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/estrela.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Quarta</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/relogio.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/estrela.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Quinta</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/relogio.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/estrela.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Sexta</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/relogio.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/estrela.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Sábado</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/relogio.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/estrela.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-bottom">
    <ion-col class="day-closed">
      <ion-row>
        <ion-text>Domingo</ion-text>
      </ion-row>
      <ion-row class="card-info">
        <ion-row class="d-flex w-100">
          <div class="dados">
            <div class="tempo">
              <div class="tempo-icon">
                <img src="../../assets/images/relogio.svg">
              </div>
            </div>
            <div class="pontos">
              <div class="pontos-icon">
                <img src="../../assets/images/estrela.svg">
              </div>
            </div>
          </div>
          <div class="icon-card"></div>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
