<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="bg-logo ion-padding">
    <ion-row class="ion-margin-bottom">
      <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
    </ion-row>
    <ion-row>
      <ion-text>
        Meta alcançada em
      </ion-text>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <select class="select-mes" (change)="CarregarAtividades($event)">
        <option 
          *ngFor="let periodo of periodos" 
          selected ="{{periodo.Selected}}"
          value="{{periodo.Value}}">{{periodo.Titulo}}
        </option>
      </select>
    </ion-row>
    <div *ngIf="DisplayNone">
      <ion-row lass="ion-margin-bottom" *ngFor="let x of dotsCount">
        <ion-col >
          <ion-row>
            <ion-spinner name="dots"></ion-spinner>  
          </ion-row>
          <ion-row class="card-info">
            <ion-row class="d-flex w-100">
              <div class="dados">
                <div class="tempo">
                  <div class="tempo-icon">
                    <ion-spinner name="dots"></ion-spinner>  
                  </div>
                </div>
                <div class="pontos">
                  <div class="pontos-icon">
                    <ion-spinner name="dots"></ion-spinner>  
                  </div>
                </div>
              </div>
              <div class="icon-card"></div>
            </ion-row>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!DisplayNone">
      <ion-row class="ion-margin-bottom" *ngFor="let semana of semanas" >
        <ion-col class="{{semana.Class}}" (click)="VisualizarInfoSemana(semana)" *ngIf="!semana.Concluida">
          <ion-row>
            <ion-text>{{semana.Titulo}}</ion-text>
          </ion-row>
          <ion-row class="card-info">
            <ion-row class="d-flex w-100">
              <div class="dados">
                <div class="tempo">
                  <div class="tempo-icon">
                    <img src="../../assets/images/clock_gray.svg">
                  </div>
                </div>
                <div class="pontos">
                  <div class="pontos-icon">
                    <img src="../../assets/images/star_gray.svg">
                  </div>
                </div>
              </div>
              <div class="icon-card"></div>
            </ion-row>
          </ion-row>
        </ion-col>

        <ion-col class="week-finished" (click)="VisualizarInfoSemana(semana)"  *ngIf="semana.Concluida">
          <ion-row>
            <ion-text>{{semana.Titulo}}</ion-text>
          </ion-row>
          <ion-row class="card-info">
            <ion-row class="d-flex w-100">
              <div class="dados">
                <div class="tempo">
                  <div class="tempo-icon">
                    <img src="../../assets/images/relogio.svg">
                  </div>
                  <div class="tempo-tempo">
                    {{semana.Tempo}}
                  </div>
                </div>
                <div class="pontos">
                  <div class="pontos-icon">
                    <img src="../../assets/images/estrela.svg">
                  </div>
                  <div class="pontos-valor">
                    {{semana.Pontuacao}}
                  </div>
                </div>
              </div>
              <div class="icon-card"></div>
            </ion-row>
          </ion-row>
        </ion-col>
      </ion-row> 
    </div>
  </div>
</ion-content>