ion-content {
  width: 100%;
  height: 100%;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
  background-color: #ffffff;
}

.select-mes {
  border: 0px;
  background-color: transparent;
  font-size: 38px;
}

ion-progress-bar {
  --progress-background: #FF9F00;
  --buffer-background: #685656;
  height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

