<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
  </ion-item>
  <ion-text>
    <div>Meta alcançada em</div>
  </ion-text>
  <div>
    <select class="select-mes">
      <option>Janeiro</option>
      <option>Fevereiro</option>
      <option>Março</option>
      <option>Abril</option>
      <option>Maio</option>
      <option>Junho</option>
    </select>
  </div>
  <div>
    <ion-label>Semana 01</ion-label>
    <ion-card>
      <ion-card-content>
        <div>
          <div class="tempo">
            <div class="tempo-icon">
              <img src="../../assets/images/relogio.svg">
            </div>
            <div class="tempo-tempo">
              00:00
            </div>
          </div>
          <div class="pontos">
            <div class="pontos-icon">
              <img src="../../assets/images/estrela.svg">
            </div>
            <div class="pontos-valor">
              0000
            </div>
          </div>
        </div>
        <div>
          <img class="trofeu" src="../../assets/images/trofeu.svg">
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-label>Semana 02</ion-label>
    <ion-card>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>