<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Meta alcançada em</ion-label>
  <!-- <ion-item>
    <ion-label>MMMM</ion-label>
    <ion-datetime displayFormat="MMMM" value="2012-12-15T13:47:20.789"></ion-datetime>
  </ion-item> -->
  <select class="select-mes">
    <option>Large 01</option>
    <option>Large 02</option>
    <option>Large 03</option>
    <option>Large 04</option>
    <option>Large 05</option>
    <option>Large 06</option>
  </select>
</ion-content>